{% extends 'RExam/ListTable.html' %}
{% block table_header %}
    <th style="width: 3%; text-align: center" scope="col">№</th>
    <th scope="col">Название</th>
    <th style="text-align: center" scope="col">Предмет</th>
    <th style="text-align: center" scope="col">Кол-во баллов</th>
    <th style="text-align: center" scope="col">Дата</th>
{% endblock table_header %}
{% block table_body %}
    {% for stat in statistics %}
        <tr>
            <th scope="row" class="text-center">{{ forloop.counter }}</th>
            <td>{{ stat.exam.exam_header }}</td>
            <td class="text-center">{{ stat.exam.exam_subject }}</td>
            <td class="text-center">{{ stat.score }} из {{ stat.exam.get_max_score }}</td>
            <td class="text-center">{{ stat.exam_date }}</td>
        </tr>
    {% empty %}
        <tr>
            <th scope="row" class="text-center">1</th>
            <td><p class="pl-3">Статистика отсутствует...</p></td>
        </tr>
    {% endfor %}
{% endblock table_body %}