{% extends 'RExam/BaseContent.html' %}
{% load static %}
{% block head_title %}Экзамены{% endblock head_title %}
{% block head_end %}
    <link rel="stylesheet" href="{% static 'Exams/style.css' %}"/>
{% endblock head_end %}
{% block content %}
    <div class="card m-1 shadow-sm">
        <div class="card-body">
            <h5 class="text-center">Экзамен {{ exam.exam_header }} завершён!</h5>
            <h5 class="text-center">Вы набрали {{ score }} из {{ exam.get_max_score }} баллов!</h5>
        </div>
    </div>
{% endblock content %}