{% extends 'RExam/BaseContent.html' %}
{% block control-item %}{% endblock %}
{% block head_title %} {{ exam.exam_header }} {% endblock head_title %}
{% block content %}
    <style>
        li {
            list-style-type: none;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            let my_timer = $('#my_timer');
            let time = my_timer.text();
            $(window).bind('beforeunload', function () {
                return "Some"
            });
            $('#submit').bind("click", function () {
                $(window).unbind('beforeunload');
            });
            setInterval(function () {
                time -= 1;
                my_timer.text(time);
                if (time <= 0) {
                    alert("Время вышло!");
                    $('#submit').trigger('click');
                }
            }, 60000);
        });
    </script>
    <div class="card bg-light shadow-sm m-1">
        <form id="send_form" class="p-4" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h5 class="text-center">{{ exam.exam_header }}</h5>
            <div class="text-center"><span>Осталось </span><h5 class="d-inline" id="my_timer"
                                                               class="text-center">{{ exam.exam_time }}</h5><span> минут(ы)!</span>
            </div>
            {% for field in form %}
                <div class="form-group">
                    <label class="d-block"
                           for="{{ field.id_for_label }}">{{ forloop.counter }} {{ field.label | safe }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger mt-2">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-end">
                <button id="submit" class="btn btn-success" type="submit">Завершить</button>
            </div>
        </form>
    </div>
{% endblock content %}