{% extends 'RExam/ListTable.html' %}
{% block table_header %}
    <th style="width: 3%; text-align: center" scope="col">№</th>
    <th scope="col">Название</th>
    <th style="text-align: center" scope="col">Кол-во решавших</th>
    <th style="text-align: center" scope="col">Среднее кол-во баллов</th>
{% endblock table_header %}
{% block table_body %}
    {% for score in avr_scores %}
        <tr>
            <th scope="row" class="text-center">{{ forloop.counter }}</th>
            <td>
                <a href="{% url 'GroupStatsByExam' study_group=study_group_id exam_id=score.exam.id %}">{{ score.exam.exam_header }}</a>
            </td>
            <td class="text-center">{{ score.score.0.count }}</td>
            <td class="text-center">{{ score.score.0.avr }} из {{ score.exam.get_max_score }}</td>
        </tr>
    {% empty %}
        <tr>
            <th scope="row" class="text-center">1</th>
            <td><p class="pl-3">Статистика отсутствует...</p></td>
        </tr>

    {% endfor %}
{% endblock table_body %}