{% extends 'RExam/ListTable.html' %}
{% block table_header %}
    <th style="width: 3%; text-align: center" scope="col">№</th>
    <th style="text-align: center" scope="col">ФИО</th>
    <th style="text-align: center" scope="col">Кол-во баллов</th>
{% endblock table_header %}
{% block table_body %}
    {% for score in users_score %}
        <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td class="text-center">{{ score.user.get_full_name }}</td>
            <td class="text-center">{{ score.user_score }} из {{ score.max }}</td>
        </tr>
    {% empty %}
        <tr>
            <th scope="row" class="text-center">1</th>
            <td><p class="pl-3">Статистика отсутствует...</p></td>
        </tr>

    {% endfor %}
{% endblock table_body %}