{% extends 'RExam/base.html' %}
{% load recaptcha2 %}

{% block head_title %} Авторизация {% endblock head_title %}
{% block head_end %}
    {% recaptcha_init %}
{% endblock head_end %}

{% block body_start %}
    <div class="d-flex justify-content-center h-100">
        <div class="container-fluid col-12 m-0 p-0 col-sm-8 col-md-8 col-lg-5 col-xl-3 align-self-center ">
            <form class="card shadow" action="" method="post">
                {% csrf_token %}
                <h5 class="card-header bg-info text-white text-center">Авторизация</h5>
                <div class="card-body d-flex flex-column">
                    {% for field in form %}
                        <div class="form-group">
                            <div class="input-group">
                                {% if field.label %}
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{ field.label }}</span>
                                    </div>
                                {% endif %}
                                {{ field }}
                            </div>
                        </div>
                        {% if field.name == 'password' %}
                            <p class="text-left"><a href="{% url 'ResetPassword' %}">Забыл пароль?</a></p>
                        {% endif %}
                    {% endfor %}
                    {% if form.errors %}
                        {% for key, value in form.errors.items %}
                            <div class="alert alert-danger mt-2">
                                {{ value }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="btn-group">
                        <a class="btn btn-info mr-2" href="{% url 'SignUp' %}">Регистрация</a>
                        <button class="btn btn-success" type="submit">Войти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock body_start %}