{% extends 'RExam/ListTable.html' %}
{% block table_header %}
    <th style="width: 3%; text-align: center" scope="col">№</th>
    <th scope="col">Название</th>
    {% if perms.Accounts %}
        <th style="width: 15%;text-align: center" scope="col">Управление</th>
    {% endif %}
{% endblock table_header %}
{% block table_body %}
    {% for group in groups_list %}
        <tr>
            <th scope="row" class="text-center">{{ forloop.counter }}</th>
            <td>{{ group.group_name }}</td>
            {% if perms.Accounts %}
                <td class="text-center">
                    {% if perms.Exams.view_examresult %}
                        <a href="{{ group.get_group_stats }}" class="text-dark mr-2">
                            <i class="far fa-chart-bar"></i>
                        </a>
                    {% endif %}
                    {% if perms.Accounts.change_studygroup %}
                        <a href="{{ group.get_update_url }}" class="text-primary mr-2">
                            <i class="fas fa-pen"></i>
                        </a>
                    {% endif %}
                    {% if perms.Accounts.delete_studygroup %}
                        <a class="text-danger" href="{{ group.get_delete_url }}"><i
                                class="fa fa-trash" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <th scope="row" class="text-center">1</th>
            <td><p class="pl-3">Экзамены отсутствуют...</p></td>
        </tr>

    {% endfor %}
{% endblock table_body %}