{% extends 'RExam/ListTable.html' %}
{% block table_header %}
        <th style="width: 3%; text-align: center" scope="col">№</th>
        <th style="width: 60%;text-align: center" scope="col">Текст вопроса</th>
        <th style="text-align: center" scope="col">Изображение</th>
        <th style="text-align: center" scope="col">Ошиблись(раз)</th>
        {% if perms.Exams %}
            <th style="width: 15%;text-align: center" scope="col">Управление</th>
        {% endif %}
{% endblock table_header %}
{% block table_body %}
    {% for question in questions %}
        <tr>
            <th scope="row" class="text-center">{{ forloop.counter }}</th>
            <td><a href="{{ question.get_detail_url }}">{{ question.question_text }}</a></td>
            <td class="text-center">{% if not question.question_image %}-{% else %}
                <a class="text-info" href="{{ question.question_image.url }}">Изображение</a>{% endif %}</td>
            <td class="text-center">{{ question.get_error_score }}</td>
            <td class="text-center">
                {% if perms.Exams.change_question %}
                    <a href="{{ question.get_update_url }}" class="text-primary mr-2">
                        <i class="fas fa-pen"></i>
                    </a>
                {% endif %}
                {% if perms.Exams.delete_question %}
                    <a class="text-danger" href="{{ question.get_delete_url }}"><i
                            class="fa fa-trash" aria-hidden="true"></i></a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <th scope="row" class="text-center">1</th>
            <td><p class="pl-3">Вопросы отсутствуют...</p></td>
        </tr>
    {% endfor %}
{% endblock table_body %}
